<div class="dialog-container">
  <div class="dialog-header">
    <h2>Select Database</h2>
    <p>Choose a database to continue with DBExec</p>
  </div>
  
  <mat-dialog-content>
    <mat-form-field appearance="outline" class="database-select">
      <mat-select [(ngModel)]="selectedDatabase" placeholder="Select Database">
        <mat-option *ngFor="let db of databases" [value]="db">
          <div class="database-option">
            <div class="database-info">
              <span class="database-name">{{ db.name }}</span>
            </div>
          </div>
        </mat-option>
      </mat-select>
      <mat-icon matPrefix>storage</mat-icon>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-flat-button
            class="select-button"
            [disabled]="!selectedDatabase"
            (click)="onDatabaseSelect()">
      <span>Select Database</span>
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </mat-dialog-actions>
</div> 